:root {
    --contact-bg-color: rgb(216, 180, 254);
}

.contact-section {
    background: var(--contact-bg-color);
}

.social,
.detailscard,
img {
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.circleimg {
    transition: border-color 300ms ease-out;
}


.social {
    .detailscard {
        opacity: 0;
        clip-path: inset(0 100% 0 0);
        transition: clip-path 300ms ease-out, opacity 300ms ease-out;
    }
}

.social:hover {
    transform: scale(1.1);
    z-index: 110;
    .detailscard {
        opacity: 1;
        clip-path: inset(0 0 0 0);

        img {
            transform: rotate(-90deg);
        }
    }

    img {
        transform: rotate(-90deg);
    }

    .circleimg {
        border-color: white;
    }
}


.rounded-r-custom {
    border-top-right-radius: 2000px;
    border-bottom-right-radius: 2000px;
}

.profile-container {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.profile-container::-webkit-scrollbar {
    display: none;
}


.profile-container::before,
.profile-container::after {
    content: '';
    position: absolute;
    left: 0;
    width: 15%;
    height: 100px;
    pointer-events: none;
    z-index: 1;
    background: linear-gradient(to bottom, var(--contact-bg-color), rgba(0, 0, 0, 0));
    transition: opacity 0.4s ease-in;
    opacity: 1;
}

/* .profile-container:hover::before,
.profile-container:hover::after {
    opacity: 0;
} */

.profile-container::before {
    top: 0px;
    background: linear-gradient(to bottom, var(--contact-bg-color), rgba(0, 0, 0, 0));
}

.profile-container::after {
    bottom: 0px;
    background: linear-gradient(to top, var(--contact-bg-color), rgba(0, 0, 0, 0));
}

.connect-title{
    display: flex;
    flex-direction: column;
    font-size: 7rem;
    font-family: sketchy-font;
    .connect{
        backdrop-filter: saturate(2.5);
        transition: backdrop-filter 200ms linear;
    }
}