.card,.imgDiv,.grad,.title,.desc,.link{
    transition: transform 200ms linear, opacity 200ms linear, visibility 0s;
}

.desc{
    opacity: 0;
}

.card:hover {
    transform: scale(1.10);
    
    .imgDiv{
        transform: scale(1.25);
        overflow: visible;
        .grad{
            opacity: 100;
        }
        .link{
            opacity: 100;
        }
    }

    .title{
        transform: translateY(-70px);
    }

    .desc{
        opacity:100;
        transform: translateY(-35px);
    }
}

.card::before,
.card::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px; /* Width of the blurred edge */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  pointer-events: none;
  z-index: 1; /* Ensure the blur effect is below the content */
}

.card::before {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

.card::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}