.logo {
    height: 8em;
    padding: 1.5em;
    position: relative;
    display: inline-block;
    z-index:102;
  }
  
  /* .logo:hover.scale {
    transform: scale(2.2);
  } */
  
  .logo-container {
    position: relative;
    display: inline-block;
    z-index:101;
  }
  .logo-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: #ff6f00a4;
    filter: blur(5em);
    opacity:0;
    z-index: 100;
    transition: opacity 4s ease-out, transform 4s ease-out;
  }
  .logo-container:hover::before {
    transform: scale(2.2);
    opacity:100;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  